@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<BaBoMaZso.MakeYourMeal.Models.ProductAdminViewModel>
@using System.Web.Mvc
@using DotNetNuke.Web.Mvc.Helpers

<form method="post" action="@Url.Action("SaveProduct", "Item")" class="admin-form">
    @System.Web.Helpers.AntiForgery.GetHtml()

    <h2>Új termék hozzárendelése</h2>

    <div class="form-group">
        <label for="SelectedProductBvin">Válassz egy Hotcakes terméket</label>
        @Html.DropDownListFor(
            m => m.SelectedProductBvin,
            (IEnumerable<System.Web.Mvc.SelectListItem>)ViewBag.HotcakesProducts,
            "Válassz...",
            new { @class = "form-control", id = "SelectedProductBvin" }
        )
    </div>

    <div class="form-group">
        <label for="CategorySlug">Melyik kategóriába?</label>
        @Html.DropDownListFor(
            m => m.CategorySlug,
            new List<System.Web.Mvc.SelectListItem>
            {
                new System.Web.Mvc.SelectListItem { Text = "Tészta", Value = "pastas" },
                new System.Web.Mvc.SelectListItem { Text = "Szósz", Value = "sauces" },
                new System.Web.Mvc.SelectListItem { Text = "Feltét 1", Value = "toppings1" },
                new System.Web.Mvc.SelectListItem { Text = "Feltét 2", Value = "toppings2" },
                new System.Web.Mvc.SelectListItem { Text = "Extrák", Value = "extras" }
            },
            "Válassz...",
            new { @class = "form-control", id = "CategorySlug" }
        )
    </div>

    <button type="submit" class="btn btn-primary">Mentés</button>
</form>
