@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage
    @using System.Web.Mvc
    @using DotNetNuke.Entities.Users
    <div class="meal-promo">
        <h2>Állítsd össze saját tésztádat!</h2>
        <p>Válassz tésztát, szószt, feltéteket és extrákat, hogy elkészítsd a személyre szabott ebédedet!</p>

        <a class="dnnPrimaryAction" href="@Url.Action("Assemble", "Item")">Új rendelés leadása</a>
    </div>
