@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage
@using System.Web.Mvc
@using DotNetNuke.Entities.Users

@{
    var userInfo = UserController.Instance.GetCurrentUserInfo();
    var isAdmin = userInfo.IsInRole("Administrators");
}

<div class="meal-promo">
    <h2>Állítsd össze saját tésztádat!</h2>
    <p>Válassz tésztát, szószt, feltéteket és extrákat, hogy elkészítsd a személyre szabott ebédedet!</p>

    <a class="dnnPrimaryAction" href="@Url.Action("Assemble", "Item")">Új rendelés leadása</a>

    @if (isAdmin)
    {
        <a class="dnnSecondaryAction" style="margin-left: 1em;" href="@Url.Action("Admin", "Item")">
            Termékek kezelése
        </a>
    }
</div>
